---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Davide Ceschia";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" />
  </div>
  <h1>Davide Ceschia</h1>
  <span class="badge">Software Engineer</span>
  <h2>About</h2>
  <p>
    I am full-stack developer with 5+ years of experience with Javascript and
    Typescript, specifically React. Furthermore I also have a few years of
    experience with Rust and Go, specialised in designing and developing highly
    resilient and available cloud native applications.
  </p>
  <div class="center">
    <a href="/works/">
      <button class="btn">My Portfolio</button>
    </a>
  </div>
  <h2>Skills</h2>
  <div class="skills center">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TypeScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="React"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Redux"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redux/redux-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Electron"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/electron/electron-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="SolidJS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/solidjs/solidjs-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Go"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Bun"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="NextJS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="PostgreSQL"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Java"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="MySQL"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Amazon Web Services"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Astro"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Fastify"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bun/bun-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Fastify"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fastify/fastify-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Redis"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redis/redis-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Google Cloud"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/googlecloud/googlecloud-original.svg"
    />
  </div>
</Layout>
