---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp" />
  </div>
  <h2>Blog</h2>
  <ul role="list" class="link-card-grid">
    <Card
      url="https://dev.to/blarfoon/why-not-using-typescript-or-using-it-wrong-is-killing-your-app-performance-3oa7"
      image="https://media2.dev.to/dynamic/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2F278wixyoqwcgnsvl9npu.png"
      title="Why Not Using TypeScript (or Using It Wrong) Is Killing Your App Performance"
      body="While TypeScript is primarily marketed for its developer experience improvements, there's an often-overlooked side effect: TypeScript's static type system encourages JavaScript coding patterns that are more likely for V8 to optimise."
    />
    <Card
      url="https://davide-ceschia.medium.com/zero-cost-abstractions-in-rust-unlocking-high-performance-and-expressiveness-75c1c0d27291"
      image="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*k3dJoSokkTV4RW5w_UB4BA.png"
      title="Zero-Cost Abstractions in Rust: Unlocking High Performance and Expressiveness"
      body="As a passionate Rustacean, I am constantly amazed by the power and elegance of Rust."
    />
    <Card
      url="https://davide-ceschia.medium.com/experimenting-with-javascript-objects-part-2-979c746035b"
      image="https://miro.medium.com/v2/resize:fit:1400/format:webp/0*3t7x9Ny1BC0Gmlrw"
      title="Experimenting with Javascript Objects (Part 2)"
      body="Comparing and copying Javascript Objects"
    />
    <Card
      url="https://davide-ceschia.medium.com/experimenting-with-javascript-objects-part-1-16956b97b0c7"
      image="https://miro.medium.com/v2/resize:fit:1400/format:webp/0*3t7x9Ny1BC0Gmlrw"
      title="Experimenting with Javascript Objects (Part 1)"
      body="Introduction to Javascript Objects"
    />
  </ul>
</Layout>
